@import url("./31_1.css");

* {
  font-size: 20px;
}

.container {
  height: 400px;
  width: 400px;
  background: yellow;
  border: 2px solid pink;
  border-radius: 10px;
}


/* Smartphones (portrait and landscape) ---------- */
/* only affects if [sceen size <= 320px] [sceeen size >= 480px]   */
/* @media screen and (min-width: 320px) and (max-width: 480px){
    .container{
        background: pink;
    }
} */

/* Smartphones (portrait) ---------- */ 
/* only affects if sceen size <= 320px   */
/* @media screen and (max-width: 320px){
    .container{
        background: pink;
    }
} */

/* Smartphones (landscape) ---------- */
/* only affects if sceen size >= 320px   */
@media screen and (min-width: 321px){
    .container{
        background: pink;
    }
}